<h1>Create a Puppy Listing:</h1>
<form method="post" action="/">
  <label for="name">Name:</label>
  <input type="text" name="name"><br>
  <label for="breed">Breed:</label>
  <input type="text" name="breed"><br>
  <label for="age">Age:</label>
  <input type="text" name="age"><br><br>
  <input type="submit" id="submit" value="submit">
</form>
