<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <form method="post" action="new">
      <p>Name:</p>
      <textarea name="name"></textarea>
      <br>
      <p>Breed:</p>
      <textarea name="breed"></textarea>
      <br>
      <p>Age:</p>
      <textarea name="age"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>


  </body>
</html>
