<h3>Add a new puppy to put up for adoption here</h3>
<form method="POST" action="/puppy">
  <p>Name: <input type="text" name="puppy[name]"></p>
  <p>Breed: <input type="text" name="puppy[breed]"></p>
  <p>Age: <input type="text" name="puppy[age]"></p>
  <input type="submit" />
</form>
