<h3> Click Here To List A Puppy</h3>

<form method="post" action="/puppy">
Name:<br> <input type="phrase" name="puppy_name"><br>
Breed:<br> <input type="phrase" name="puppy_breed"><br>
Age:<br> <input type="phrase" name="puppy_age"><br>
<button type="submit" value="submit">Submit</button>
</form>
