<!DOCTYPE html>
<html>
<h1>Fill out this form to list a puppy for adoption!</h1>
<form method="POST" action="/">
  <p>Name: <input type="text" name="name"></p>
  <p>Breed: <input type="text" name="breed"></p>
  <p>Age: <input type="text" name="age"></p>
  <input type="submit" value="submit">
</form>
</html>
