<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Pup</title>
  </head>
  <body>

    <!-- <form action="/show" method="post">
      <p>Puppy Name: <input type="text" name="puppy[name]"></p>
      <p>Puppy Breed: <input type="text" name="puppy[breed]"></p>
      <p>Puppy Age: <input type="text" name="puppy[age]"></p>
      <input type="submit">
    </form> -->

    <form action="/show" method="post">
      <p>Puppy Name: <input type="text" name="name"></p>
      <p>Puppy Breed: <input type="text" name="breed"></p>
      <p>Puppy Age: <input type="text" name="age"></p>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
