<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Pup</title>
  </head>
  <body>


    <p>Puppy Name:<%= "\n#{@new_pup.name}" %></p>
    <p>Puppy Breed:<%= "\n#{@new_pup.breed}" %></p>
    <p>Puppy Age:<%= "\n#{@new_pup.age}" %></p>

  </body>
</html>
