<!DOCTYPE html>
<html>
<header>
  <title></title>
</header>
  <body>

      <p>Puppy Name:<%="\n#{@name}"%></p>
      <p>Puppy Breed:<%="\n#{@breed}"%></p>
      <p>Puppy Age:<%="\n#{@age}"%></p>

  </body>
<html>
